/* Основний колір фону #F5F5F5 */
/* Колір акцентів та лого #2196F3 */
/* Колір вторинного фону #2F303A */
/* Колір заголовків #212121 */
/* Колір тексту #757575 */

:root {
    --primary-background-color: #FFFFFF;
    --accent-color: #2196F3;
    --secondary-background-color: #2F303A;
    --primary-title-color: #212121;
    --primary-text-color: #757575;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--primary-text-color);
    background-color: var(--primary-background-color);
    letter-spacing: 0.03em;
    font-size: 14px;
}


.nav-link {text-decoration: none;
    font-family: 'Roboto', sans-serif; 
    font-weight: 500; 
    font-size: 14px;
    line-height: 16px; 
    color: var(--primary-title-color);
}
.current {
    color: var(--accent-color);
}
.nav-link:focus,
.nav-link:hover {
    color: var(--accent-color)
}

.contact-link{
        text-decoration: none;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        font-size: inherit;
        line-height: 16px;
        color: var(--primary-text-color);
    }

.contact-link:focus,
.contact-link:hover {
    color: var(--accent-color);
}

.list {list-style: none;}
.logo {font-family: "raleway", sans-serif;
    font-weight: 700; 
    font-size: 26px;
    color: #000000;
    text-decoration: none;
    line-height: 1.2;
}
.logo-foot {
    font-family: "raleway", sans-serif;
        font-weight: 700;
        font-size: 26px;
        color: var(--primary-background-color);
        text-decoration: none;
        line-height: 1.2;
}
footer {background-color: var(--secondary-background-color)}
.accent {
    color: var(--accent-color);
}
.adress {text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: inherit;
    line-height: 21px;
    color: var(--primary-background-color)
}

.mailt {text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: inherit;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.6)}

.hero {
    background-color: var(--secondary-background-color);
    width: 1600px;
    height: 600px;
}


.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    color: var(--primary-background-color);
}
.btn-service {
    width: 216px;
    height: 50px;
    background-color: #188ce8;
    color: var(--primary-background-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: var(--primary-background-color)
}
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
.pluses-title {
    color: var(--primary-title-color);
    font-weight: 700;
    font-size: inherit;
    line-height: 1.2;
}
.pluses-text {
    color: var(--primary-text-color);
    font-weight: 400;
    font-size: inherit;
    line-height: 1.7;
}

.pluses-list{
list-style: none;
}

.job-title {
    color: var(--primary-title-color);
    font-weight:700;
    font-size: 36px;
    line-height: 1.2;}

.job-list {
    list-style: none;
}
.team-list {
    list-style: none;
}

.team-title {
    color: var(--primary-title-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
}
.team-title-two {
    color: var(--primary-title-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.2;
}
.team-text {
    color: var(--primary-text-color);
    font-weight: 400;
    font-size: inherit;
    line-height: 1.2;
}
.team {
    background-color: #F5F4FA;
}
.filter-list {
    list-style: none;
}
.filter-btn {
    background-color: #F5F4FA;
    height: 38px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    color: var(--primary-title-color);
    border-radius: 4px;
}

.filter-btn:focus,
.filter-btn:hover {
    background-color: var(--accent-color)
}
.work-title {
font-weight: 700;
font-size: 18px;
line-height: 2;
color: var(--primary-title-color);
}
.work-text {
font-weight: 400;
font-size: 16px;
line-height: 1.88;
color: var(--primary-text-color);
}